<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EsunFrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EsunFrontEnd.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm border-bottom">
            <div class="container">
                <a class="navbar-brand fw-bold text-success" asp-controller="Home" asp-action="Index"> EsunFrontEnd</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav ms-auto">
                       
                        <li class="nav-item">
                            <a class="nav-link fw-semibold" asp-controller="LikeList" asp-action="Index">喜好清單</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container bg-light rounded-3 p-4 mt-4 shadow-sm">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted text-center bg-secondary bg-opacity-10 py-3 mt-5 border-top">
        <div class="container small">
            &copy; 2025 - EsunFrontEnd |
            <a asp-controller="Home" asp-action="Privacy" class="text-decoration-none">隱私權政策</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>